{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="{% static 'blog/app.css' %}">
</head>
<body>
    
    <h1>Nova Categoria</h1>

    <form method="POST" class="post-card">

        {% csrf_token %}

        {{ form }}

        <nav class="actions">
            <a href="{% url 'categories' %}" class="btn">Voltar</a>
            <button type="submit" class="btn">Criar</button>
        </nav>
    
    </form>

</body>
</html>