{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="{% static 'blog/app.css' %}">
</head>
<body>
    
    <h1>Blog</h1>

    <ul class="posts-container">

        {% for post in blog %}

        <li class="post-card">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>
                {% if post.author %}

                Publicado por <strong>{{ post.author }}</strong> em {{ post.created_at }}.<br>

                {% else %}

                Publicado em {{ post.created_at }}.<br>

                {% endif %}
                {% if post.category %}

                Categoria: {{ post.category }}

                {% endif %}
            </p>
            <p><a href="#"></a></p>

            <ul>

                {% for comment in post.comments.all %}

                <li>
                    <h3>{{ comment.author }}</h3>
                    <p>{{ comment.content }}</p>
                    <p>Publicado em {{ comment.created_at }}</p>
                </li>

                {% empty %}

                <li>Nenhum Comentário</li>

                {% endfor %}

            </ul>

        </li>

        {% empty %}

        <li>Nenhuma postagem registrada</li>

        {% endfor %}
        
    </ul>

    <nav class="actions">
        <a href="{% url 'create_post' %}" class="btn">Novo Post</a>
    </nav>

</body>
</html>