{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="{% static 'blog/app.css' %}">
</head>
<body>
    
    <h1>Blog</h1>

    {% if user.is_authenticated and user.role.name|lower == "admin" %}
    <form method="post" action="{% url 'logout' %}" style="display: inline;" id="logout-form">
        {% csrf_token %}
    </form>
    <nav class="actions">
        <button type="submit" class="btn" form="logout-form">Logout</button>
        <a href="{% url 'create_post' %}" class="btn">Novo Post</a>
    </nav>
    {% endif %}

    <ul class="posts-container">

        {% for post in blog %}

        <li class="post-card">

            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>
                {% if post.author %}

                Publicado por <strong>{{ post.author }}</strong> em {{ post.created_at }}.<br>

                {% else %}

                Publicado em {{ post.created_at }}.<br>

                {% endif %}
                {% if post.category %}

                Categoria: {{ post.category }}

                {% endif %}
            </p>
            <nav class="actions">
                <a href="#" class="btn toggle-comments" data-target="#comments-{{ post.pk }}">Comentários</a>
            </nav>

            <ul id="comments-{{ post.pk }}" class="hide">
                {% for comment in post.comments.all %}
                <li class="comment-card">
                    <h3>{{ comment.author }}:</h3>
                    <p>{{ comment.content }}</p>
                    <p>({{ comment.created_at }})</p>
                </li>
                {% empty %}
                <li>Nenhum Comentário</li>
                {% endfor %}
                <form method="POST" action="{% url 'create_comment' post.pk %}">
                    {% csrf_token %}
                    {{ comment_form.as_div }}
                    <nav class="actions">
                        <button type="submit" class="btn">Comentar</button>
                    </nav>
                </form>
            </ul>

        </li>

        {% empty %}
        <li>Nenhuma postagem registrada</li>
        {% endfor %}
    </ul>

    <script src="{% static 'blog/app.js' %}"></script>

</body>
</html>